header {
    background: url("../images/header-image.jpg");
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: calc(30%);
    padding: 10px;
    margin: 5px 0 5px 0;
}

.card h3 {
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
}

.card a {
    background-color: indianred;
    display: inline-block;
    color: white;
    padding: 5px;
    text-align: center;
    margin: 15px;
}